/application/.phpunit.cache
/application/node_modules
/public_html/build
/public_html/hot
/public_html/storage
/application/storage/*.key
/application/vendor
application.env
/application.env.backup
.env.production
/application.phpunit.result.cache
/applicationHomestead.json
/applicationHomestead.yaml
/applicationauth.json
/applicationnpm-debug.log
/applicationyarn-error.log
/application/.fleet
/application/.idea
/application/.vscode
/.idea
